<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0" th:fragment="navbar">
        <a href="" class="text-decoration-none d-block d-lg-none">
            <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="/index" class="nav-item nav-link " th:classappend="${page == 'index'} ? 'active' : ''">Home</a>
                <a href="/shop" class="nav-item nav-link" th:classappend="${page == 'shop'} ? 'active' : ''">Shop</a>
                <a href="/detail" class="nav-item nav-link" th:classappend="${page == 'detail'} ? 'active' : ''">Shop Detail</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="/cart" class="dropdown-item" th:classappend="${page == 'cart'} ? 'active' : ''">Shopping Cart</a>
                        <a href="/checkout" class="dropdown-item" th:classappend="${page == 'checkout'} ? 'active' : ''">Checkout</a>
                    </div>
                </div>
                <a href="/contact" class="nav-item nav-link" th:classappend="${page == 'contact'} ? 'active' : ''">Contact</a>
            </div>
            <div class="navbar-nav ml-auto py-0">
                <a href="" class="nav-item nav-link">Login</a>
                <a href="" class="nav-item nav-link">Register</a>
            </div>
        </div>
    </nav>
</body>
</html>